<div mat-dialog-content>
  <div  id="loading-details" *ngIf="categoriesLoaded">
  <button mat-icon-button mat-dialog-close matTooltip="{{'VARDIALSTAT.CLOSE' | translate}}" class="close-dialog">
    <mat-icon [attr.aria-label]="'VARDIALSTAT.CLOSE' | translate">close</mat-icon>
  </button>

  <h2 mat-dialog-title class="h2">{{'CROSSTAB.TABLE' | translate}}</h2>

  <table class="table-bordered">
    <tr *ngFor="let item of selectedVarsRow; let i=index">
      <th scope="row" [colSpan]="selectedVarsCol.length">{{item["@name"]}} - {{item.labl["#text"].trim().substring(0,45)}}</th>

      <td [colSpan]="item.span" *ngFor="let category of item.combinedCategories">{{category.labl["#text"]}}</td>
      <td *ngIf="i==0">{{'CROSSTAB.TOTAL'| translate}}</td>
    </tr>

    <tr>
      <th *ngFor="let item of selectedVarsCol" scope="col">{{item["@name"]}} - {{item.labl["#text"].trim().substring(0,45)}}</th>
    </tr>

    <ng-container *ngIf="numberOfColumns == 0">
      <tr *ngFor="let row of tableRows">
        <td></td>
        <td *ngFor="let cell of row.combinedCategories">{{cell.numbers}}<br>{{cell.percentages | number:'1.0-2'}}%</td>
        <td>{{row.totalNumber.numbers}}<br>{{row.totalNumber.percentages | number:'1.0-2'}}%</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="numberOfColumns > 0">
      <tr *ngFor="let row of tableRows">
        <td *ngFor="let cell of row.tds" [rowSpan]="cell.span">{{cell.text}}</td>
        <td *ngFor="let cell of row.combinedCategories">{{cell.numbers}}<br>{{cell.percentages | number:'1.0-2'}}%</td>
        <td *ngIf="numberOfRows > 0">{{row.totalNumber.numbers}}<br>{{row.totalNumber.percentages | number:'1.0-2' }}%
        </td>
      </tr>
      <tr>
        <td *ngIf="numberOfColumns > 0" [colSpan]="numberOfColumns">{{'CROSSTAB.TOTAL'| translate}}</td>
        <ng-container *ngIf="numberOfRows > 0">
          <td *ngFor="let cell of sumRow">{{cell.numbers}}<br>{{cell.percentages | number:'1.0-2'}}%</td>
        </ng-container>
        <td>{{sumCol | number}}<br>{{sumPerc  | number:'1.0-2'}}%</td>
      </tr>
    </ng-container>
  </table>
  </div>
</div>
