<button mat-icon-button mat-dialog-close matTooltip="{{'VARDIALSTAT.CLOSE' | translate}}" class="close-dialog">
  <mat-icon  [attr.aria-label]="'VARDIALSTAT.CLOSE' | translate">close</mat-icon>
</button>
<h2 mat-dialog-title class="h2">{{this.title}}</h2>

  <mat-grid-list cols="3" >
    <mat-grid-tile [rowspan]=2>
      <mat-selection-list #list class="mat-selection-list-big" [(ngModel)]="selectedOptions" (ngModelChange)="onSelectOrDeselectVar($event)">
        <h3 matSubheader>{{'CROSSTAB.ALLVAR' | translate}}</h3>
        <mat-list-option [value]='variable' *ngFor="let variable of variablesToSelect"  >
          <a mat-list-item> <span>{{ variable["@shortname"]}}</span> </a>
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <button color="accent" [attr.aria-label]="'CROSSTAB.MOVETOROWS' | translate" matTooltip="{{'CROSSTAB.MOVETOROWS' | translate}}" *ngIf="dirRow === 0" mat-raised-button (click)="onMoveToRows()">
        <mat-icon>east</mat-icon>
      </button>
      <button color="accent" [attr.aria-label]="'CROSSTAB.REMOVEFROMROWS' | translate" matTooltip="{{'CROSSTAB.REMOVEFROMROWS' | translate}}" *ngIf="dirRow === 1" mat-raised-button (click)="onMoveToVarsFromRow()">
        <mat-icon >west</mat-icon>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-selection-list #varCol class="mat-selection-list-small"   [(ngModel)]="selectedOptionsRow" (ngModelChange)="onSelectOrDeselectRow($event)">
        <h3 matSubheader>{{'CROSSTAB.ROWS' | translate}}</h3>
        <mat-list-option [value]='variable' *ngFor="let variable of selectedVarsRow" >
          <a mat-list-item> <span>{{ variable["@shortname"]}}</span> </a>
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <button color="accent" [attr.aria-label]="'CROSSTAB.MOVETOCOLS' | translate"  matTooltip="{{'CROSSTAB.MOVETOCOLS' | translate}}" mat-raised-button *ngIf="dirCol === 0" (click)="onMoveToCols()">
        <mat-icon>east</mat-icon>
      </button>
      <button color="accent" [attr.aria-label]="'CROSSTAB.REMOVEFROMCOLS' | translate" matTooltip="{{'CROSSTAB.REMOVEFROMCOLS' | translate}}" mat-raised-button *ngIf="dirCol === 1" (click)="onMoveToVarsFromCol()">
        <mat-icon>west</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-selection-list #varRow class="mat-selection-list-small" [(ngModel)]="selectedOptionsCol" (ngModelChange)="onSelectOrDeselectCol($event)">
        <h3 matSubheader>{{'CROSSTAB.COLUMNS' | translate}}</h3>
        <mat-list-option [value]='variable' *ngFor="let variable of selectedVarsCol" >
          <a mat-list-item> <span>{{ variable["@shortname"]}}</span> </a>
        </mat-list-option>
      </mat-selection-list>
    </mat-grid-tile>

  </mat-grid-list>

<div class="center">
  <button mat-raised-button color="accent" (click)="onShowCrossTabTable()">{{'CROSSTAB.OK' | translate}}</button>
</div>
