<mat-toolbar-row class="search-bar">
    <mat-form-field>
      <mat-label>{{'VAR.SEARCH' | translate}}</mat-label>
      <input matInput [formControl]="searchFilter"/>
      <span matSuffix><mat-icon>search</mat-icon></span>
    </mat-form-field>
    <span class="fill-space"></span>
  <mat-paginator [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
</mat-toolbar-row>

<table mat-table class="mat-elevation-z8" [dataSource]="datasource" matSort (matSortChange)="sortChange($event)">

  <!-- Checkbox Column in 'All Variables' view -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [attr.aria-label]="'VAR.DESELECT' | translate"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row; let i=index">
      <mat-checkbox
        (click)="$event.shiftKey ? multipleToggle(row,i, $event) : singleToggle(i,$event)"
        (change)="$event ? selection.toggle(row) : null; "
        [checked]="selection.isSelected(row)"
        matTooltip="{{'VAR.SELECT' | translate}}"
        [attr.aria-label]="'VAR.SELECT' | translate"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="id-col">{{'VAR.ID' | translate}}</th>
    <td mat-cell class="id-col" *matCellDef="let row"> {{ row['id'] }} </td>
  </ng-container>

  <ng-container matColumnDef="_order">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>order</th>
    <td mat-cell *matCellDef="let row"> {{ row['_order'] }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-col">{{'VAR.NAME' | translate}}</th>
    <td mat-cell class="name-col" *matCellDef="let row">{{ (row['@name'].length > 30) ? (row['@name'] | slice:0:30) + '...' : (row['@name']) }}</td>
  </ng-container>

  <!-- Label Column -->
  <ng-container matColumnDef="labl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="label-col">{{'VAR.LABEL' | translate}}</th>
    <td mat-cell class="label-col" *matCellDef="let row"> {{ (row.labl['#text'].length > 150) ? (row.labl['#text'] | slice:0:150) + '...' : (row.labl['#text'])}}</td>
  </ng-container>

  <!-- Weight Column-->
  <ng-container matColumnDef="wgt-var">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="weight-col">{{'VAR.WEIGHT' | translate}}</th>
    <td mat-cell class="weight-col" *matCellDef="let row">
      <span *ngIf="row['@wgt-var'] ; else elseBlock">{{ row['@wgt-var'] }}</span>
      <ng-template #elseBlock>
        <span *ngIf="row['@wgt']">{{ row['@wgt'] }}</span>
      </ng-template>
    </td>
  </ng-container>

  <!-- View Summary Stats-->
  <ng-container matColumnDef="viewsumstat" class="view-col">
    <th class="view-col" mat-header-cell *matHeaderCellDef>{{'VAR.VIEWSUMSTAT' | translate}}</th>
    <td class="view-col" mat-cell *matCellDef="let row; let i = index">
      <button
        mat-icon-button
        [attr.aria-label]="'VAR.VIEWSUMSTAT' | translate"
        color="accent"
        (click)="onViewSumStat(row['@ID'])"
        matTooltip="{{'VAR.VIEWSUMSTAT' | translate}}"
      >
        <mat-icon>article</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- View Categories-->
  <ng-container matColumnDef="view" class="view-col">
    <th class="view-col" mat-header-cell *matHeaderCellDef>{{'VAR.VIEW' | translate}}</th>
    <td class="view-col" mat-cell *matCellDef="let row; let i = index">
      <button
        mat-icon-button
        [attr.aria-label]="'VAR.VIEW' | translate"
        color="accent"
        (click)="onView(row['@ID'])"
        matTooltip="{{'VAR.VIEW' | translate}}"
      >
        <mat-icon>insert_chart_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- View Questions-->
  <ng-container matColumnDef="viewquest">
    <th class="view-col" mat-header-cell *matHeaderCellDef>{{'VAR.VIEWQUEST' | translate}}</th>
    <td class="view-col" mat-cell *matCellDef="let row; let i = index">
      <button
        mat-icon-button
        [attr.aria-label]="'VAR.VIEWQUEST' | translate"
        color="accent"
        (click)="onViewQuestions(row['@ID'])"
        matTooltip="{{'VAR.VIEWQUEST' | translate}}"
      >
        <mat-icon>question_answer</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"
    [ngClass]="{ unvis: row._show != true , active: row._active == true }"
  >
  </tr>
</table>
